// * -==========- Импорт файлов -==========- * //
// @import "название файла"

// * -==========- Переменные -==========- * //
// $название: значение;

// * -==========- Шаблоны -==========- * //
// %название {
// 	атрибут: значение;
// 	атрибут: значение;
// }
// ==========
// Подключение шаблона: @extend %название_шаблона;
%transition {
	transition: all 0.4s ease 0s;
}

// * -==========- Миксины -==========- * //
// @mixin название($название_значения) {
// 	атрибут: $название_значения;
// 	атрибут: $название_значения;
// }
// ==========
// Пример:
// @mixin linkstyle($c, $fz) {
// 	color: $c;
// 	font-size: $fz;
// }
// ==========
// Подключение миксина:
// @include linkstyle(#fff, 16px);

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	width: 100%;
	font-family: "Gotham Pro", sans-serif;
	color: #000000;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	overflow-x: hidden;
	@media (max-width: 576px) {
		font-size: 16px;
	}
}

.container {
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

// * -==========- header -==========- * //
.header {
	width: 100%;
	position: fixed;
	z-index: 20;
	&._bg {
		background: linear-gradient(0deg, #7226d6, #3b2fd9);
		box-shadow: 5px 2px 5px 0px rgba(0, 0, 0, 0.2);
	}

	&__burger {
		display: none;
		&.active span {
			position: absolute;
			content: "";
			width: 0;
			height: 0;
			z-index: -1;
			top: 50%;
			left: 50%;
		}
		&.active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&.active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		@media (max-width: 992px) {
			display: block;
			position: relative;
			width: 30px;
			height: 21px;
			z-index: 10;
			cursor: pointer;
			& span {
				background-color: #ffffff;
				position: absolute;
				width: 100%;
				height: 3px;
				left: 0;
				top: 9px;
				transition: all 0.3s ease 0s;
			}
			&::after,
			&::before {
				content: "";
				background-color: #ffffff;
				position: absolute;
				width: 100%;
				height: 3px;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
		}
	}

	&__body {
		display: flex;
		align-items: center;
		padding: 12px 15px;
		justify-content: space-between;
		@media (max-width: 992px) {
			height: 50px;
		}
	}

	&__logo {
		width: 160px;
		img {
			width: 100%;
			@media (max-width: 768px) {
				filter: invert(1);
			}
		}
	}
}

.menu-header {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
		list-style: none;
		align-items: center;
		@media (max-width: 992px) {
			background: linear-gradient(0deg, #7226d6, #3b2fd9);
			position: fixed;
			flex-direction: column;
			justify-content: center;
			left: 100%;
			top: 0;
			overflow: auto;
			width: 100%;
			height: 100%;
			z-index: 2;
			transition: all 0.5s ease 0s;
			&.active {
				left: 0;
			}
			& li {
				margin-right: 0;
				text-align: center;
			}
		}
	}

	&__link {
		font-size: 16px;
		color: #fcfbfb;
		text-decoration: none;
		display: block;
		@extend %transition;
		margin-right: 50px;
		position: relative;
		@media (max-width: 992px) {
			padding: 25px 30px;
			margin-right: 0;
			&::before {
				display: none;
			}
			&:hover {
				background: linear-gradient(0deg, #6c44ff, #575aff);
			}
		}
		&:active {
			color: #fff;
		}
		&::before {
			@extend %transition;
			position: absolute;
			background: linear-gradient(0deg, #6c44ff, #575aff);
			content: "";
			width: 0;
			height: 0;
			border-radius: 20px;
			left: 50%;
			top: 50%;
			z-index: -1;
			transform: translate(-50%, -50%);
		}
		&:hover {
			&::before {
				width: 100%;
				height: 100%;
				padding: 10px 20px;
				box-shadow: 5px 8.66px 40px 0px rgba(0, 0, 0, 0.3);
			}
		}
	}

	&__btn {
		color: #000000;
		display: block;
		text-decoration: none;
		background: #fff;
		font-size: 16px;
		padding: 20px 47px;
		border-radius: 30px;
		@extend %transition;
		@media (max-width: 992px) {
			display: inline-block;
			margin-bottom: 50px;
		}
		&:hover {
			box-shadow: 5px 8.66px 40px 0px rgba(0, 0, 0, 0.3);
		}
	}
}

// * -==========- slider -==========- * //
.slider {
	background-image: url("../img/slider_bg.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 100vh;
	min-height: 800px;
	align-items: center;
	display: flex;
	@media (max-width: 768px) {
		height: auto;
		min-height: auto;
		padding: 80px 0;
		color: #fff;
		text-align: center;
		background-position: top right;
	}
	@media (max-width: 576px) {
		padding: 70px 0 40px;
	}

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__left {
		width: 55%;
		@media (max-width: 992px) {
			width: 45%;
		}
		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 40px;
		}
		@media (max-width: 576px) {
			margin-bottom: 0;
		}
	}

	&__subtitle {
		font-weight: 200;
		text-transform: uppercase;
		margin-bottom: 25px;
	}

	&__title {
		font-size: 48px;
		margin-bottom: 25px;
		@media (max-width: 576px) {
			font-size: 30px;
		}
	}

	&__descr {
		line-height: 1.6;
		margin-bottom: 30px;
	}

	&__form {
		width: 100%;
		position: relative;
	}

	&__input-mail {
		box-sizing: border-box;
		width: 100%;
		height: 55px;
		border-radius: 30px;
		border: none;
		padding-left: 30px;
		box-shadow: 5px 8.66px 40px 0px rgba(0, 0, 0, 0.15);
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		@extend %transition;
		@media (max-width: 768px) {
			color: #000;
		}
		&::placeholder {
			color: #afafaf;
		}
		&:focus {
			box-shadow: 5px 8.66px 50px 0px rgba(0, 0, 0, 0.3);
		}
	}

	&__submit-btn {
		position: absolute;
		right: 0;
		top: 0;
		height: 55px;
		border-radius: 30px;
		border: none;
		box-sizing: border-box;
		padding: 0 65px;
		font-family: inherit;
		font-size: inherit;
		color: #fff;
		cursor: pointer;
		background: linear-gradient(0deg, #7226d6, #3b2fd9);
		@extend %transition;
		@media (max-width: 992px) {
			padding: 0 35px;
		}
		@media (max-width: 768px) {
			background: linear-gradient(0deg, #ff7606, #ffbb00);
			position: relative;
			margin-top: 20px;
			padding: 0 65px;
		}
		&:hover {
			filter: saturate(2);
		}
		&:focus {
			filter: saturate(1.2);
		}
	}

	&__right {
		width: 296px;
		height: 595px;
		margin: 0 auto;
		background-image: url("../img/iphone.png");
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		position: relative;
		@media (max-width: 576px) {
			display: none;
		}
		&:before {
			position: absolute;
			content: "";
			box-shadow: 0px 4px 38px 2px rgba(0, 0, 1, 0.1);
			width: 291px;
			height: 595px;
			background-color: transparent;
			border-radius: 36px;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.inner-slider {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	height: 462px;
	width: 259px;
	overflow: hidden;
	margin: 66px 0 0 19px;
	& .slick-slider {
		position: relative;
	}
	& .slick-dots {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 50%;
		right: -100px;
		z-index: 1;
		list-style: none;
		transform: translateY(-50%);
		@media (max-width: 1170px) {
			right: -50px;
		}
		li {
			margin-bottom: 15px;
			background: #fff;
			border-radius: 50%;
			width: 14px;
			height: 14px;
			display: block;
			cursor: pointer;
			position: relative;
			&:after {
				position: absolute;
				content: "";
				width: 20px;
				height: 20px;
				left: -3px;
				top: -3px;
				background-color: #fff;
				border-radius: 50%;
				box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
				transform: scale(0.6);
				@extend %transition;
			}
			&.slick-active:after {
				transform: scale(1);
			}
			button {
				margin: 0 auto;
				display: block;
				font-size: 0;
				padding: 0;
				border: none;
				outline: none;
			}
		}
	}

	&__item {
		height: 462px;
		width: 259px;
		margin: auto;
		img {
			height: inherit;
			width: inherit;
			object-fit: cover;
		}
	}
}

// * -==========- about -==========- * //
.about {
	background-image: url("../img/advantages_bg.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	height: 900px;
	min-height: 600px;
	color: #fff;
	display: flex;
	align-items: center;
	@media (max-width: 768px) {
		height: auto;
		min-height: auto;
		padding: 80px 0;
		text-align: center;
	}
	@media (max-width: 576px) {
		padding: 40px 0;
	}

	&__subtitle {
		font-weight: 200;
		text-transform: uppercase;
		margin-bottom: 80px;
		@media (max-width: 768px) {
			margin-bottom: 30px;
		}
		@media (max-width: 576px) {
			margin-bottom: 20px;
		}
	}

	&__text {
		display: flex;
		justify-content: space-between;
		position: relative;
		margin-bottom: 190px;
		flex-wrap: wrap;
		@media (max-width: 992px) {
			margin-bottom: 130px;
		}
		@media (max-width: 768px) {
			margin-bottom: 90px;
		}
		&::after {
			position: absolute;
			content: "";
			width: 80vw;
			height: 1px;
			left: 50%;
			transform: translateX(-50%);
			bottom: -80px;
			background: #75659f;
			@media (max-width: 992px) {
				bottom: -65px;
			}
			@media (max-width: 768px) {
				bottom: -50px;
			}
		}
	}

	&__title {
		width: 48%;
		font-size: 48px;
		@media (max-width: 768px) {
			width: 100%;
			margin-bottom: 30px;
		}
		@media (max-width: 576px) {
			font-size: 30px;
		}
	}

	&__descr {
		width: 48%;
		line-height: 1.6;
		@media (max-width: 768px) {
			width: 100%;
		}
	}
}
.advantages-about {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.item-advantages {
	text-align: center;
	@media (max-width: 768px) {
		width: 47%;
		margin-bottom: 30px;
	}
	&__number {
		font-size: 76px;
		font-weight: 700;
		@media (max-width: 576px) {
			font-size: 48px;
		}
	}
}

// * -==========- reviews -==========- * //
.reviews {
	background-color: #f8f8fe;
	background-image: url("../img/abstraction.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 75% 200px;
	&__body {
		display: flex;
		@media (max-width: 1024px) {
			justify-content: space-between;
		}
	}

	&__img {
		width: 36vw;
		max-height: 596px;
		margin-right: 10%;
		display: flex;
		@media (max-width: 1024px) {
			margin-right: auto;
			width: 25vw;
		}
		@media (max-width: 768px) {
			display: none;
		}
		& img {
			height: inherit;
			width: inherit;
			object-fit: cover;
			align-items: center;
			justify-content: center;
		}
	}
}
.gallery-reviews {
	height: 670px;
	width: 100%;
	display: flex;
	position: relative;
	margin-bottom: 80px;
	z-index: 10;
	@media (max-width: 1170px) {
		height: 400px;
	}
	@media (max-width: 768px) {
		height: 300px;
	}
	@media (max-width: 576px) {
		display: none;
	}
	& img {
		width: inherit;
		height: auto;
		object-fit: contain;
	}
	&__image {
		@media (max-width: 1170px) {
			width: 25vw;
		}
	}

	&__image-1 {
		position: absolute;
		left: 0;
		top: 40px;
	}

	&__image-2 {
		position: absolute;
		left: 20vw;
		bottom: 0;
	}

	&__image-3 {
		position: absolute;
		left: 50vw;
		top: -120px;
		transform: translateX(-50%);
		@media (max-width: 1170px) {
			top: -30px;
		}
	}

	&__image-4 {
		position: absolute;
		left: 55vw;
		bottom: 0;
	}

	&__image-5 {
		position: absolute;
		right: 0;
		top: 40px;
	}
}
.form-reviews {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	@media (max-width: 1024px) {
		margin: 0 auto;
	}
	@media (max-width: 576px) {
		width: 100%;
		padding: 50px 15px;
	}
	&__subtitle {
		text-transform: uppercase;
		font-weight: 200;
		margin-bottom: 25px;
		@media (max-width: 576px) {
			margin-bottom: 15px;
		}
	}

	&__title {
		font-size: 48px;
		margin-bottom: 60px;
		@media (max-width: 576px) {
			margin-bottom: 35px;
			font-size: 30px;
		}
		& span {
			border-bottom: 3px solid #4b2cd8;
		}
	}
}

.body-form-reviews {
	display: flex;
	flex-direction: column;
	width: 520px;
	padding: 40px 0;
	@media (max-width: 576px) {
		width: 100%;
		padding: 0;
	}

	&__input {
		width: 100%;
		margin-bottom: 30px;
		height: 48px;
		border: 2px solid #aeaeae;
		border-radius: 25px;
		padding: 0 30px;
		background: transparent;
		font-family: inherit;
		font-size: 15px;
		box-sizing: border-box;
		color: #313131;
		@extend %transition;
		&::placeholder {
			color: #afafaf;
		}
		&:focus {
			box-shadow: 5px 8.66px 50px 0px rgba(0, 0, 0, 0.2);
			border-color: #4b2cd8;
		}

		&_name {
			background: url("../img/icons/name_icon.png");
			background-repeat: no-repeat;
			background-position: center right 5%;
		}

		&_tel {
			background: url("../img/icons/phone_icon.png");
			background-repeat: no-repeat;
			background-position: center right 5%;
		}

		&_email {
			background: url("../img/icons/mail_icon.png");
			background-repeat: no-repeat;
			background-position: center right 5%;
		}
	}

	&__submit {
		display: block;
		width: max-content;
		margin: 0 auto;
		height: 55px;
		border-radius: 30px;
		border: none;
		box-sizing: border-box;
		padding: 0 50px;
		font-family: inherit;
		font-size: inherit;
		color: #fff;
		cursor: pointer;
		background: linear-gradient(0deg, #7226d6, #3b2fd9);
		@extend %transition;
		&:hover {
			filter: saturate(2);
		}
		&:focus {
			filter: saturate(1.2);
		}
	}
}

// * -==========- footer -==========- * //
.footer {
	background: linear-gradient(0deg, #7226d6, #3b2fd9);
	&__body {
		padding: 80px 15px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		@media (max-width: 768px) {
			flex-direction: column;
			text-align: center;
		}
		@media (max-width: 576px) {
			padding: 40px 15px;
		}
	}

	&__social {
		@media (max-width: 768px) {
			margin-bottom: 25px;
		}
		a {
			margin-right: 5vw;
			& img {
				@media (max-width: 576px) {
					height: 30px;
					object-fit: cover;
				}
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.contacts-footer {
	color: #fff;
	&__tel {
		font-size: 25px;
		margin-bottom: 15px;
	}

	&__address {
		font-size: 16px;
	}
}
